@{
	ViewData["Title"] = "Vertex Rapid Simplified";
}

@section Styles {
	<environment include="Development">
		<link rel="stylesheet" href="~/css/home.css" asp-append-version="true">
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="/css/home-bundle.css" asp-append-version="true">
	</environment>
}

@section Scripts {
	<environment include="Development">
    	<script src="~/js/home.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
    	<script src="~/js/home-bundle.js" asp-append-version="true"></script>
    </environment>
}


<section class="main">
	<div class="header">
		<p>
			Осуществляем доставку по всей России
		</p>
	</div>
	<h1>
		Vertex Rapid 
        Simplified
	</h1>
	<div class="wrapper">
		<div class="item">
			<img src="images/img/vertex-plastic.png" alt="Вертекс пластмасса" title="базисная пластмасса горячей полимеризации">
			<div class="title">
				<div class="discount">
					<p>
						При заказе от 5 шт. c каждой <span>-5%</span> <br>
						При заказе от 10 шт. c каждой  <span>-10%</span>
					</p>
				</div>
				<div class="name">
					<h2>Vertex Rapid Simplified 10 </h2>
					<p>
						базисная пластмасса горячей полимеризации
					</p>
				</div>
				<div class="price">
					<p>
						Цена за шт. - 
						<span> 7500р </span>
					</p>
					<div class="plus-minus plastic">
						<img class="minus" src="images/icons/minus.svg" alt="минус" title="При нажатие убывает">
						<p class="caunt">0</p>
						<img class="plus" src="images/icons/plus.svg" alt="минус" title="При нажатие добавляет">
						<p class="sum">0</p> <span>₽</span>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="images/img/vertex-monomer.png" alt="Вертекс мономер" title="мономер для базисной пластмассы горячей полимеризации">
			<div class="title">
				<div class="discount">
					<p>
						При заказе от 5 шт. c каждой  <span>-5%</span> <br>
						При заказе от 10 шт. c каждой  <span>-10%</span>
					</p>
				</div>
				<div class="name">
					<h2>Vertex Rapid Simplified</h2>
					<p>
						мономер для базисной пластмассы горячей полимеризации
					</p>
				</div>
				<div class="price">
					<p>
						Цена за шт. - 
						<span> 4600р </span>
					</p>
					<div class="plus-minus monomer">
						<img class="minus" src="images/icons/minus.svg" alt="минус" title="При нажатие убывает">
						<p class="caunt">0</p>
						<img class="plus" src="images/icons/plus.svg" alt="минус" title="При нажатие добавляет">
						<p class="sum">0</p> <span>₽</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="m-trigger" data-modal-id="application">Подтвердить заказ</button>
</section>
@* <div> *@
@* 	<h1>Home page</h1> *@
@* 	<p>Home page content</p> *@
@* </div> *@
@* *@
@* <button class="m-trigger" data-modal-id="application"> *@
@* 	Оставить заявку *@
@* </button> *@

