@{
	ViewData["Title"] = "Home Page";
}

@section Styles {
	<environment include="Development">
		<link rel="stylesheet" href="~/css/home.css" asp-append-version="true">
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="/css/home-bundle.css" asp-append-version="true">
	</environment>
}

@section Scripts {
	<environment include="Development">
    	<script src="~/js/home.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
    	<script src="~/js/home-bundle.js" asp-append-version="true"></script>
    </environment>
}


<section class="main">
	<div>
		<p>
			Осуществляем доставку по всей России
		</p>
	</div>
	<div class="wrapper">
		<div class="item">
			<img src="images/img/vertex-plastic.png" alt="" title="">
			<div class="title">
				<div>
					<p>
						При заказе от 5 шт. c каждой <span>-500 р</span> <br>
						При заказе от 10 шт. c каждой  <span>-800 р</span>
					</p>
				</div>
				<div>
					<span>Vertex Rapid Simplified 10 </span>
					<p>
						базисная пластмасса горячей полимеризации
					</p>
				</div>
				<div>
					<p>
						Цена за шт. - 
						<span> 7500 р </span>
					</p>
					<div>
						<img src="images/icons/plus.svg" alt="" title="">
						<p></p>
						<img src="images/icons/minus.svg" alt="" title="">
						<p></p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="images/img/vertex-monomer.png" alt="" title="">
			<div class="title">
				<div>
					<p>
						При заказе от 7 шт. c каждой  <span>-200 р</span> <br>
						При заказе от 12 шт. c каждой  <span>-500 р</span>
					</p>
				</div>
				<div>
					<span>Vertex Rapid Simplified</span>
					<p>
						мономер для базисной пластмассы горячей полимеризации
					</p>
				</div>
				<div>
					<p>
						Цена за шт. - 
						<span> 4500 р </span>
					</p>
					<div>
						<img src="images/icons/plus.svg" alt="" title="">
						<p></p>
						<img src="images/icons/minus.svg" alt="" title="">
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button>Подтвердить заказ</button>
</section>
@* <div> *@
@* 	<h1>Home page</h1> *@
@* 	<p>Home page content</p> *@
@* </div> *@
@* *@
@* <button class="m-trigger" data-modal-id="application"> *@
@* 	Оставить заявку *@
@* </button> *@

