<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData["Title"]</title>
	<environment include="Development">
		<link rel="stylesheet" href="~/css/layout.css" asp-append-version="true">
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="/css/layout-bundle.css" asp-append-version="true">
	</environment>
	@await RenderSectionAsync("Styles", required: false)
	<environment exclude="Development">
		@* important js, maybe analytics *@
	</environment>
	<link rel="icon" type="image/x-icon" href="/favicon.svg">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;800&display=swap" rel="stylesheet"/>
	<script src="//code.jivo.ru/widget/nPGLRdCRll" async></script>
	<!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
       ym(91835892, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/91835892" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
	
</head>
<body>

<environment exclude="Development">
	<noscript>
		@* no script part of important, maybe analytics *@
	</noscript>
</environment>
<environment include="Development">
	<div id="development-mode"></div>
</environment>
<header>

</header>
<main>
	@RenderBody()
</main>

<footer>
	<div>
		<a href="https://t.me/+79180006861">
			<img src="images/icons/telegramm.svg" alt="telegramm" title="Вы можете связаться с нами">
		</a>
		<a href="tel:+37493088593">
			<img src="images/icons/phone.svg" alt="call" title="Вы можете связаться с нами">
		</a>
		<a href="https://wa.me/79180006861">
			<img src="images/icons/watsapp.svg" alt="watsapp" title="Вы можете связаться с нами">
		</a>
	</div>
</footer>
<div class="overlay" id="loader">
	@* place loader html here *@
</div>
<div class="overlay" id="overlay">
	<div class="modal" id="application">
		<form>
			<span class="close-m" title="Закрыть">&times;</span>
			<h3>Оставьте заявку и мы с вами свяжемся</h3>
			<div>
				Вы заказали базисная пластмассу
				<span class="plasticModal">0</span>
				шт. мономер для базисной пластмассы горячей полимеризации
				<span class="monomerModal">0</span> шт.
			</div>
			<label>
				<input placeholder="Введите имя" type="text" name="name">
			</label>
			<label>
				<input placeholder="Введите номер" type="tel" name="phone">
			</label>
			<div class="validation"></div>
			<button type="submit">Оставить заявку</button>
			<p>Нажимая на кнопку Вы даете согласие на обработку персональных данных</p>
		</form>
	</div>
	<div class="modal" id="success">
		<div>
			Заявка отправлена
		</div>
		<div>
			Совсем скоро мы с Вами свяжемся
		</div>
	</div>
	<div class="modal" id="error">
		<div>
			Что-то пошло не так
		</div>
		<div>
			Попробуйте позже, или позвоните нам <a href="tel:+37493088593">+37493088593</a>
		</div>
	</div>
</div>
<environment include="Development">
	<script src="~/js/phone-mask.js" asp-append-version="true"></script>
	<script src="~/js/api-request.js" asp-append-version="true"></script>
	<script src="~/js/loader.js" asp-append-version="true"></script>
	<script src="~/js/modal.js" asp-append-version="true"></script>
	<script src="~/js/helpers.js" asp-append-version="true"></script>
	<script src="~/js/application.js" asp-append-version="true"></script>
	<script src="~/js/layout.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
	<script src="~/js/layout-bundle.js" asp-append-version="true"></script>
</environment>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>